<?xml version="1.0"?>
<!--
/**
 * Crafty Clicks - Address Finder
 *
 * @category   CraftyClicks
 * @package    CraftyClicks
 * @copyright  CraftyClicks.co.uk
 */
-->

<config>
	<modules>
		<CraftyClicksValidate>
			<version>0.1.4</version>
		</CraftyClicksValidate>
	</modules>
	
	<frontend>
          <layout>
              <updates>
                  <craftyclicksvalidate>
                      <file>craftyclicks_validate.xml</file>
                  </craftyclicksvalidate>
              </updates>
          </layout>
	  <routers>
	    <craftyclicksvalidate>
	      <use>standard</use>
	      <args>
			<module>CraftyClicksValidate</module>
			<frontName>craftyclicksvalidate</frontName>
	      </args>
	    </craftyclicksvalidate>
	  </routers>
	</frontend>

	
	<global>		
		<helpers>
			<craftyclicksvalidate>
				<class>CraftyClicksValidate_Helper</class>
			</craftyclicksvalidate>
		</helpers>		
	</global>
	<default>
		<general>
			<craftyclicksvalidate>
				<active>0</active>
				<loading_image></loading_image>
				<title>Is your address correct?</title>
				<description_1>We think there's an issue with your delivery address. Please review it.</description_1>
				<description_2>If you think the address is correct, please ignore this message.</description_2>
				<finish_text>Thank you! We updated your shipping address.</finish_text>
				<gmaps>1</gmaps>
				<region_dropdown>0</region_dropdown>
			</craftyclicksvalidate>
		</general>
	</default>

</config>
